*{margin: 0;
        padding: 0;}
        body {
            margin: 0;
            background-color: #0A1609;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
        }

        .navbar{
            display: flex;
            justify-content: center;
            gap: 30px;
            background-color: #ffffff;
            padding: 15px;
            margin-bottom: 30px;
        }
        
        .navbar a{
            text-decoration: none;
            color:#27AE60;
            font-size: 18px;
            font-weight: bold;
        }
        .navbar a:hover{
            color: #A3E4D7;
        }

        h1 {
            color: #27AE60;
            font-size: 100px;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            font-weight: 100;
            margin-bottom: 20px;
        }

        p {
            font-size: 18px;
            width: 70%;
            margin: auto;
            margin-top: 5px;
            color: #E2F5E6;
        }

        img {
            margin-top: 20px;
        }